<div class="container">
  <app-cockpit (ServerCreated)="onServerAdded($event)" (BlueprintCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverelement of serverElements" [srvElement]="serverelement">
        <p>
          <strong *ngIf="serverelement.type === 'server'" style="color: red">{{ serverelement.content }}</strong>
          <em *ngIf="serverelement.type === 'blueprint'">{{ serverelement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
